@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./icon.css";
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollbar-none {
  /* 隐藏滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}